basketball_reference_scraper
django 
djangorestframework 
django-cors-headers
gunicorn
langchain 
langchain-community 
langchain-postgres
langchain-google-genai
psycopg2-binary
python-dotenv
requests
pandas
numpy
